{{ 'main-collection.css' | asset_url | stylesheet_tag }}

{% # components v3.0.1 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders the main collection section.

  Accepts:
  - collection {object} - A collection object
  - paginate_by {number} - The number of products to show per page

  Usage:
  {% render 'section-main-collection' %}
{%- endcomment -%}

{%- liquid
  assign paginate_by = paginate_by | default: section.settings.paginate_by | default: 40

  assign current_filter_size = 0
  for filter in collection.filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor
-%}


{%- assign grid_style = 'medium' -%}
{%- capture collection_content -%}
  {%- if slot_additional_content != blank -%}
      {{ slot_additional_content }}
  {%- else -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
         {%- when 'collection_header' -%}
         <header class="section-header section-header--flush section-header-left">
              {%- render 'breadcrumbs' -%}
              <h1 class="section-header__title">
                {% if block.settings.show-green %} <span class="green-dot icon icon--inventory"></span> {% endif %} {{ collection.title }}{% if collection.metafields.custom.title_trademark != blank %}{{ collection.metafields.custom.title_trademark }}{% endif %}
              </h1>
</header>
        {%- when 'collection_description' -%}
          <div {{ block.shopify_attributes }}>
            {%- if collection.description != blank and current_filter_size == 0 -%}
              {%- render 'rte', slot: collection.description, class: 'rte--collection-desc enlarge-text' -%}
            {%- endif -%}
          </div>
        {%- when 'subcollections' -%}
          {%- paginate collection.products by paginate_by -%}
            {%- if paginate.current_page == 1 and current_filter_size == 0 -%}
              <div {{ block.shopify_attributes }}>
                {%- render 'subcollections', menu: linklists['main-menu'] -%}
              </div>
            {%- endif -%}
          {%- endpaginate -%}
       
      {%- endcase -%}
    {%- endfor -%}
  {%- endif -%}
{%- endcapture -%}

<section-main-content>
  <div class="page-width">
    {%- render 'item-grid',
      context: collection,
      grid_style: grid_style,
      slot: collection_content,
      paginate_by: paginate_by
    -%}
  </div>
</section-main-content>

{% if section.settings.show-green %}
<style>
  span.green-dot {
    height: 30px;
    border-radius: 50%;
    position: relative;
    width: 25px;
}
</style>
  {% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    {% if collection.description != blank %}
      "description": {{ collection.description | strip_html | json }},
    {% endif %}
    {% if page_image %}
      {% assign image_size = page_image.width %}
      "image": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | image_url: width: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ collection.title | json }}
  }
</script>
